.grafico{
  text-align: center;
  margin-top: 4px;
}

.graficos-section{
  width: 99wv;
  height: 86vh;
  display: flex;
}

.chartContainer{
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.chartContainer canvas{
  max-height: 80%;
  max-width: 80%;
}

